body {
	background-color: #ccc;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23343a40' fill-opacity='0.58'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

/* HEADER */

nav {
	border: 1px solid #343a40;
	background: #fff;
	box-shadow: 3px 4px 10px #333; }

#my-logo {
	width: 15vw; }

#my-name {
	font-family: 'Bungee';
	font-size: 5vw;
	color: #343a40; }

#my-position {
	font-size: 2vw;
	font-family: 'Bungee Hairline';
	color: #fff; }

/* SECTION WITH PHOTO */

#showcase-photo { position: relative; }

#showcase-photo::after {
	position: absolute;
	content: "Happy Coding!";
	font-family: 'Bungee';
	font-size: 8vw;
	color: white;
	font-weight: 900;
	top: 10%;
	width: 100%;
	text-align: center;
	text-shadow: 5px 5px 10px #000; }


/* SECTION WITH INDIVIDUAL PROJECTS */

.project { margin-bottom: 30px; }

#featured-work-section { position: relative; }

#featured-work-title {
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	z-index: 5; }

p {	word-break: break-all; }

.card { box-shadow: 3px 4px 10px #333; }

.project-image {
	width: 100%;
	height: auto; }